@media screen and (max-width:1400px) {
    .about_img img:last-child {
        left: 100px;
    }

    .banner_content {
        top: 70px;
        left: 80px;
    }

    .banner_content_2 {
        top: 70px;
        right: 89px;
    }
}

@media screen and (max-width:1200px) {
    .about_img img:last-child {
        left: 0px;
    }

    .text2,
    .text1 {
        font-size: 62px;
    }

    .banner_content_2 {
        top: 70px;
        right: 40px;
    }

    .banner_content {
        top: 70px;
        left: 40px;
    }
}

@media screen and (max-width:992px) {
    .header_icon {
        font-size: 20px !important;
    }

    .header_icon button:last-child i {
        font-size: 25px !important;
    }

    .navbar-brand img {
        width: 120px;
    }

    .text2,
    .text1 {
        font-size: 55px;
    }

    #hero .carousel-caption img {
        width: 112px;
    }

    .carousel-caption {
        margin-top: 85px !important;
    }

    .about_img img:first-child {
        right: 68px;
        top: 311px
    }

    .product_card {
        width: 226px;
        height: 338px
    }

    .product_content img {
        height: 63%;
    }

    .product_titel {
        font-size: 28px;
    }

    .product_reting,
    .price {
        font-size: 25px !important;
    }

    .product_btn button:last-child {
        padding: 2.5px 7px;
    }

    .product_card::before {
        width: 155px;
        height: 155px;
    }

    .banner_content_2 {
        top: 70px;
        right: 45px;
    }

    .product_head {
        font-size: 36px;
    }

    #all_product .product_card {
        width: 302px;
    }

    .product_btn {
        text-align: center;
    }

    .name {
        font-size: 16px;
        z-index: 1;
    }

    #logIn .modal {
        --bs-modal-width: 40% !important;
    }

    #view_product .modal {
        --bs-modal-width: 70%;
    }

    .blog_h {
        font-size: 25px;
    }

}

@media screen and (max-width:991px) {
    .carousel-img {
        height: 600px;
    }

    .navbar-toggler {
        background-color: #fff;
    }

    .text2,
    .text1 {
        font-size: 40px;
    }

    .carousel-caption {
        margin-top: 80px !important;
    }

    .carousel-inner p {
        font-size: 20px !important;
    }

    .banner_content {
        top: 78px;
        left: 115px;
    }

    .banner_content_2 {
        top: 78px;
        right: 110px;
    }

    footer img {
        width: 35%;
    }

    #logIn .modal {
        --bs-modal-width: 50% !important;
    }

    #view_product .modal {
        --bs-modal-width: 95% !important;
    }

    #logo img {
        width: 70%;
    }

    .about_img img:first-child {
        right: 142px;
        top: 251px;
        width: 300px;

    }

    .about_img img:nth-child(2) {
        right: 97px;
        top: 100px;
        width: 300px;

    }

    .about_img img:last-child {
        width: 300px;
        left: 78px
    }

    #service {
        margin-top: 500px;
    }
}

@media screen and (max-width:767px) {

    .text2,
    .text1 {
        font-size: 40px;
    }

    .text2 {
        letter-spacing: 0;
    }

    @keyframes text {
        0% {
            margin-bottom: -20px;
        }

        30% {
            margin-bottom: -25px;
            letter-spacing: 5px;
        }

    }

    .banner_content {
        top: 78px;
        left: 52px;
    }

    .banner_content_2 {
        top: 78px;
        right: 52px;
    }

    .card_logo {
        font-size: 12px !important;
    }

    .name {
        font-size: 14px;
    }

    #logIn .modal {
        --bs-modal-width: 70% !important;
    }

    #all_product .product_card {
        width: 252px;
    }

    #all_product .product_card::before {
        width: 130px;
        height: 130px
    }

    .about_img img:first-child {
        right: 80px;
        top: 251px;
        width: 278px;

    }

    .about_img img:nth-child(2) {
        right: 15px;
        top: 131px;
        width: 278px;

    }

    .about_img img:last-child {
        width: 278px;
        left: 16px;
    }

    #all_product .product_content img {
        width: 109px;
    }
}
@media screen and (max-width:575px) {
    .carousel-img{
        height: 100vh;
    }
    @keyframes text {
        0% {
            margin-bottom: 0;
        }

        30% {
            margin-bottom: 0;
            letter-spacing: 0;
        }

    }
    @keyframes text2 {
        0% {
            margin-bottom: 0 !important;
        }
    
        30% {
            letter-spacing: 0 !important;
        }
    }
    #hero .carousel-caption img {
        width: 80px;
    }
    .text2, .text1 {
        font-size: 31px;
    }
    .carousel-inner p {
        font-size: 11px !important;
    }
    .about_img img:last-child {
        width: 211px;
        left: 16px;
    }
    .about_img img:nth-child(2) {
        right: 4px;
        top: 61px;
        width: 227px;
    }
    .about_img img:first-child {
        right: 42px;
        top: 155px;
        width: 192px;
    }
    .banner_content {
        top: 26px;
        left: 28px;
    }
    .banner_content_2 {
        top: 23px;
        right: 36px;
    }
}